/* index.css */

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400&display=swap');

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
#root{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
#signUpForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 20%;
}

label {
    /* display: block; */
    font-size: 20px; /* Increase font size */
  }
  
input[type="email"],
input[type="password"] {
  width: 420px;
  height: 20px;
  padding: 8px;
  margin-top: 5px;
  border-radius: 16px ;
  border-width: 2px;
  box-shadow: #808080;
  border-color: #0866FF;
  font-size: 18px;
}

button{
    align-self: center;
    /* justify-content: space-around; */
    padding: 5px;
    width: 90px;
    height: 35px;
    background-color:#0866FF;
    border-radius: 12px; 
    color: white;
    margin-top: 10px;
    margin-left: 170px;
    border-color: #0866FF;
    border-width: 1px;
    font-size: 18px;
}

input[type="email"].error,
input[type="password"].error {
    border-color: #EF4444;
  border-width: 2px;
}

input[type="email"].success,
input[type="password"].success {
  border-color: rgb(0, 255, 0); 
  border-width: 2px;
}

input[type="email"]::placeholder {
    font-size: 18px;
  }

input[type="password"]::placeholder {
    font-size: 18px;
  }
  
.error {
  color: red;
  font-size: 14px;
}

.success {
  color: green;
}
